<div id="aside" class="app-aside modal nav-dropdown">
    <!-- fluid app aside -->
    <div class="left navside dark dk" data-layout="column">
        <div class="navbar no-radius">
            <!-- brand -->
            <a class="navbar-brand">
                <div ui-include="'/static/assets/images/logo.svg'"></div>
                <img src="/static/assets/images/logo.png" alt="." class="hide">
                <span class="hidden-folded inline">Flatkit</span>
            </a>
            <!-- / brand -->
        </div>
        <div class="hide-scroll" data-flex>
            <nav class="scroll nav-light">

                <ul class="nav" ui-nav>
                    <li class="nav-header hidden-folded">
                        <small class="text-muted">系统</small>
                    </li>

                    <li>
                        <a href="/dashboard" >
                    <span class="nav-icon">
                      <i class="material-icons">&#xe3fc;
                        <span ui-include="'/static/assets/images/i_0.svg'"></span>
                      </i>
                    </span>
                            <span class="nav-text">主面板</span>
                        </a>
                    </li>

                    <li>
                        <a>
                    <span class="nav-caret">
                      <i class="fa fa-caret-down"></i>
                    </span>
                            <span class="nav-icon">
                      <i class="material-icons">&#xe896;
                        <span ui-include="'/static/assets/images/i_7.svg'"></span>
                      </i>
                    </span>
                            <span class="nav-text">系统管理</span>
                        </a>
                        <ul class="nav-sub">
                            <li>
                                <a href="/user" >
                                    <span class="nav-text">用户管理</span>
                                </a>
                            </li>
                            <li>
                                <a href="/role" >
                                    <span class="nav-text">角色管理</span>
                                </a>
                            </li>
                            <li>
                                <a href="/menu" >
                                    <span class="nav-text">菜单管理</span>
                                </a>
                            </li>
                            <li>
                                <a href="/log" >
                                    <span class="nav-text">日志管理</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="b-t">
            <div class="nav-fold">
                <a href="profile.html">
        	    <span class="pull-left">
        	      <img src="/static/assets/images/a0.jpg" alt="..." class="w-40 img-circle">
        	    </span>
                    <span class="clear hidden-folded p-x">
        	      <span class="block _500">Admin</span>
        	      <small class="block text-muted"><i class="fa fa-circle text-success m-r-sm"></i>online</small>
        	    </span>
                </a>
            </div>
        </div>
    </div>
</div>